
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://1af60cd74e95fe387bc8-1bfee98aeb105b45275a9419b6310abb.ssl.cf1.rackcdn.com/145/2/large.jpg);">
      <div class="banner-content">
        <h1>WELCOME TO OOPSIE YELP</h1>
        <a href="/restaurants" class="btn btn-primary btn-lg">Access Restaurants</a>
      </div>
</div>
